@import "../_variables.scss";
@import '../_mixin.scss';

:root{
    --background-color :$color-light;
    --primary-color:#007bff;
}

body{
    @media (min-width: $desktop){
        padding-top: 0;
        padding-left: 17rem;
    }
}

section{
    min-height: 100vh;
    padding: 6rem 2rem !important;
    max-width: 75rem;
}

button{
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

#resumePreview{
    width: 17em;
    height: 22em;
    
    @media (min-width: $mobile){
        width: 20em;
        height: 25em;
    }
    @media (min-width: $tablet){
        width: 45em;
        height: 45em;
    } 


}