@import "../_variables.scss";

[data-theme="dark-mode"] {
    @include content($color-dark, $color-light);
}

[data-theme="light-mode"] {
    @include content($color-light, $color-dark);
}

.display{    
    margin-top: auto;
    align-self: center;
}

.themeChanger{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    @media (min-width: $desktop){
        padding:5px 10px;
        margin-bottom: 2rem;
    }
}
mat-slide-toggle#darkMode{
    padding-right:10px;
}
