@import "../_variables.scss";

h1, h2, h3, h4, h5
{    
    font-weight: 700;
    text-transform: uppercase;
    font-family: $main-font, sans-serif !important;
}

h1{
    font-size: 6rem !important;
    line-height: 5.5rem !important;
}

h2{
    font-size: 3.5rem !important;
}

.subheading{
    text-transform: uppercase;
    font-weight: 500;
    font-family: $main-font, sans-serif;
    font-size: 1.5rem;

}
p{    
    color: #868e96 !important;
}
a:hover{
    color: var(--font-color);
}

.txt-primary{
    color: var(--primary-color);
}

.email{
    color: var(--primary-color);

}
.resume-date{
    min-width: 18rem;
}