@import "../_variables.scss";

body{
        
    &.dark-mode{
        background-color: black;
        --primary-color: $primary-dark;
        --font-color: $font-dark;
        --btn-theme: white;
    }
    &.light-mode{
        --background-color : white;
        --primary-color: $primary-light;
        --font-color: $font-light;
        --btn-theme: black;
    }
    background-color: var(--background-color);
    color: var(--font-color);
    
    @media (min-width: $desktop){
        padding-top: 0;
        padding-left: 17rem;
    }
}

section{
    min-height: 100vh;
    padding: 6rem 2rem !important;
    max-width: 75rem;
}