@import "../_variables.scss";

[data-theme="dark-mode"] {
    @include content($color-dark, $color-light);
}

[data-theme="light-mode"] {
    @include content($color-light, $color-dark);
}

.themeChanger{
    float: right;
    background-color: #868e96 !important;
    color: rgba(var(--font-color),0.3);
    margin-top: auto;
    @media (min-width: $desktop){
        padding:5px 10px;
        margin-bottom: 2rem;
    }
}

.mat-checkbox-inner-container{
    display: none !important;
}