<h2 class="mb-5">Experience</h2>

<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="resume-content">
    <h3 class="mb-0">Web Designer</h3>
    <div class="subheading mb-3">Parentpay</div>
    <p>Reskinning old webpages with bootstrap and implementing interactions using jQuery. Resolving defects raised by QA teams and Product owners. Following Agile methodology by having three weeks iterations</p>
    </div>
    <div class="resume-date text-md-right">
    <span class="txt-primary">September 2019 - Present</span>
    </div>
</div>

<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="resume-content">
    <h3 class="mb-0">Quality Assurance Specialist</h3>
    <div class="subheading mb-3">Speedernet</div>
    <p>Implemented a new methodology and establish the process of testing. Collaborated closely with the development team so as to detect and fix bugs. Operated with Agile methodology by having two weeks iterations.</p>
    </div>
    <div class="resume-date text-md-right">
    <span class="txt-primary">July 2018 - February  2019</span>
    </div>
</div>

<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="resume-content">
    <h3 class="mb-0">IT Specialist</h3>
    <div class="subheading mb-3">Eli Lilly Korea</div>
    <p>Collaborated with non-Korean developer in order to deliver the needs from Korean business. Maintained the official websites and mobile-applications and updated when it was necessary. Translated documentations from English to Korean, vice versa.</p>
    </div>
    <div class="resume-date text-md-right">
    <span class="txt-primary">May 2017 - May 2018</span>
    </div>
</div>