<h1>Miri
    <span class="txt-primary">Joo</span>
</h1>
<div class="subheading mb-5">Coventry, West Midlands, United Kingdom ·
    <a class="email" href="mailto:name@email.com">smooth.jjuu@gmail.com</a>
</div>
<p class="lead mb-5">I am passionate about web technologies and willing to learn. I have created web sites by using HTML, CSS, Bootstrap and JavaScript. I’m hoping to explore a front-end developer role at a company that shares my passion.
</p>
<div class="social-icons">
    <a href="https://www.linkedin.com/in/miri-joo/">
    <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/SmoothJoo">
    <i class="fab fa-github"></i>
    </a>
</div>